<!-- <br><br>
<form [formGroup]="form1"  >
    <formly-form [model]="model1" [fields]="fields" [options]="options1" [form]="form1"></formly-form>
   
    <div fxLayout="row" fxLayoutAlign="center center" class="bottom-btn"  fxLayoutGap="20px">
        <div>
            <button mat-raised-button style="width: 130px !important;">Cancel</button>
        </div>
        <div>
           
            <button type="submit"  mat-raised-button color="primary" style="width: 130px !important;" (click)="saveStackDetails()">Save</button>
        </div>
        <div>
           
            <button type="submit"  mat-raised-button matStepperNext color="primary" style="width: 130px !important;" (click)="saveStackDetails()">Save & Next</button>
        </div>
    </div>
  </form>
<br><br> -->